@use "/src/index";

.company {


  .layout {
    width: 100%;
    max-width: 1260px;
  }

  .elementor-container {
    position: relative;
    width: 100%;
    height: 100vh;

    overflow: hidden;

    background: index.$black;


    .img-container {
      position: absolute;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.35;
      }
    }

    .elementor-title-wrapper {
      position: absolute;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 100%;
      height: 100%;

      text-align: center;

      color: index.$white;
    }
  }

  .discription-container {
    display: flex;
    justify-content: center;
    padding: 2.5em 0;

    .discription-wrapper {
      width: 90%;
      display: flex;

      .discription-left {
        width: 40%;

        .discription-heading {
          margin: 0;
        }

        .discription-heading-2 {
          margin: .6em 0;
        }

        .logo {
          width: 250px;
          height: auto;
          margin-bottom: 2.5em;
        }

        .about-btn {
          width: fit-content;
          background: #9fd080;
          color: white;
          font-size: 1.7em;
          font-weight: bold;
          padding: 0.5em;
          cursor: pointer;
          text-decoration: none;
        }
      }

      .discription-right {
        width: 60%;

        .bold {
          font-size: 1.2em;
          font-weight: bold;

          &:first-of-type {
            margin-top: 0;
          }
        }
      }
    }
  }

  .solutions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: index.$black;

    color: index.$white;

    padding: 186px 0 264px 0;

    .layout {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .solutions-subtitle {
        margin-bottom: 12px;
      }

      .solutions-title {
        margin-bottom: 106px;
      }

      .solution-item-wrapper {
        display: flex;
        gap: 24px;

        .solution-item {
          width: 100%;
          background: index.$gray400;

          border-top: 6px solid index.$brand100;
          padding-top: 100px;
          padding-bottom: 100px;

          .text-wrapper {
            width: 90%;
            margin: auto;

            h4 {
              margin-bottom: 30px;
            }
          }

        }
      }
    }

  }

  .solutions-container-2 {
    width: 100%;
    background: index.$black;
    color: index.$white;

    .solutions-below-overlay {
      width: 100%;

      padding: 158px 0 156px 0;

      background: linear-gradient(180deg, rgba(127, 252, 59, 0.16) 0%, rgba(0, 0, 0, 0.2) 87%);

      color: index.$white;

      .layout {
        margin: auto;

        h3 {
          margin-bottom: 90px;
          text-align: center;
        }

        .solutions-item-wrapper {
          display: flex;
          gap: 24px;

          .solutions-item {
            width: 100%;

            img {
              width: 100%;
              height: auto;
              object-fit: cover;
              aspect-ratio: 1.54;
            }
          }
        }
      }
    }
  }
}