.header-container {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 74px;
  z-index: 10;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.header-left {
  .link {
    color: #F79646;
    font-size: 20px;
    font-weight: 700;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.6;
    }
  }
}

.header-right {
  display: flex;

  .link {
    padding: 0 15px;
    font-size: 17px;
    font-weight: 700;

    & > span {
      position: relative;
      color: white;
  
      &::after {
        position: absolute;
        bottom: -30%;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background-color: #F79646;
        visibility: hidden;
        transform: scaleX(0);
        transform-origin: bottom left;
        transition: all 0.25s ease-out;
      }
    }
  
    &:hover {
      & > span {
        color: #F79646;
  
        &::after {
          visibility: visible;
          transform: scaleX(1);
        }
      }
    }
  }
}

.menu-button {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 200ms;

  &:hover {
    color: #aaaaaa;
  }
}
