@use "/src/index";

.footer-container {
  width: 100%;
  background-color: index.$gray400;
}

.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;

  .footer-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20%;

    .footer-logo {
      width: 100%;
      height: auto;
    }
  }

  .footer-description-container {
    .footer-description-title {
      color: index.$white;
      margin-bottom: 24px;
    }

    .footer-description {
      .description-item {
        display: flex;
        align-items: center;

        margin-bottom: 8px;

        .icon {
          margin-right: 6px;
        }

        p {
          color: index.$gray200;
        }

      }
    }

  }
}

.footer-copyright-container {
  display: flex;
  justify-content: center;
  align-items: center;

  color: index.$gray300;

  padding: 40px 0;

  border-top: 1px solid index.$gray300;

  p {
    text-align: center;
  }

}

.isMobile {
  .footer {
    flex-direction: column;
    padding: 40px 0;

    &>div {
      margin-bottom: 20px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}